.flex-container {
    display: flex;
}

.flex-item {
    width: 200px;
    height: 250px;

    background-color: tomato;
    color: white;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
    line-height: 150px;
}