.wrapper {
    margin: 100px;
}
.div1 {
    display: inline-block;
    width:120px;
    height:120px;
    margin: 100px;
}
.div2 {
    display: inline-block;
    width:160px;
    height:160px;
    color: blue;
    margin: 100px;
}